.sidebar {
  background-color: #000;
  color: white;
  width: 220px;
  padding: 20px;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.sidebar-link {
  display: block;
  background: none;
  border: none;
  color: #ccc;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  transition: color 0.2s;
}

.sidebar-link.active,
.sidebar-link:hover {
  color: white;
  font-weight: bold;
}

.logout-btn {
  background: #ff4444;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 8px;
}
